html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #9A9A9A;
    font-size: 2vh;
    display: none;
}

.intro > h2 {
    color: #747373;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 1px;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
    letter-spacing: 6px;
    line-height: 30px !important;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar {
    display: none !important;
}

.navbar-header {
    border: none;
}

.navbar.navbar-default {
    border: none !important;
    background-color: #151515;
}

.navbar-collapse {
    border: none !important;
}

div.navbar-collapse.collapse.in {
    border: none !important;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
    display: none !important;
}

img {
    max-width: 100%;
}
