<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 2000 2000" xml:space="preserve">
<g id="Layer_24">
</g>
<g id="Layer_23">
</g>
<g id="Layer_22">
</g>
<g id="Layer_21">
</g>
<g id="Layer_20">
</g>
<g id="Layer_19">
</g>
<g id="Layer_18">
</g>
<g id="Layer_17">
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1050.0319" y1="413.2676" x2="1097.4587" y2="365.8407">
		<stop  offset="0" style="stop-color:#79342A"/>
		<stop  offset="0.222" style="stop-color:#7C372C"/>
		<stop  offset="0.4003" style="stop-color:#864032"/>
		<stop  offset="0.5634" style="stop-color:#97503D"/>
		<stop  offset="0.7174" style="stop-color:#AF664C"/>
		<stop  offset="0.8637" style="stop-color:#CD835F"/>
		<stop  offset="1" style="stop-color:#F1A476"/>
	</linearGradient>
	<circle fill="url(#SVGID_1_)" cx="1073.75" cy="389.55" r="33.54"/>
</g>
<g id="Layer_16">
</g>
<g id="Layer_15">
	<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="336.1841" y1="628.1793" x2="392.524" y2="571.8394">
		<stop  offset="0" style="stop-color:#79342A"/>
		<stop  offset="0.222" style="stop-color:#7C372C"/>
		<stop  offset="0.4003" style="stop-color:#864032"/>
		<stop  offset="0.5634" style="stop-color:#97503D"/>
		<stop  offset="0.7174" style="stop-color:#AF664C"/>
		<stop  offset="0.8637" style="stop-color:#CD835F"/>
		<stop  offset="1" style="stop-color:#F1A476"/>
	</linearGradient>
	<circle fill="url(#SVGID_2_)" cx="364.35" cy="600.01" r="39.84"/>
</g>
<g id="Layer_14">
</g>
<g id="Layer_13">
	<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="187.8746" y1="1067.2104" x2="457.3864" y2="797.6987">
		<stop  offset="0" style="stop-color:#00004B"/>
		<stop  offset="0.3219" style="stop-color:#01024E"/>
		<stop  offset="0.5804" style="stop-color:#060958"/>
		<stop  offset="0.8161" style="stop-color:#0D1569"/>
		<stop  offset="1" style="stop-color:#15237C"/>
	</linearGradient>
	<circle fill="url(#SVGID_3_)" cx="322.63" cy="932.45" r="190.57"/>
</g>
<g id="Layer_12">
</g>
<g id="Layer_11">
</g>
<g id="Layer_10">
</g>
<g id="Layer_9">
	<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="707.9381" y1="318.4226" x2="770.1993" y2="256.1614">
		<stop  offset="0" style="stop-color:#00004B"/>
		<stop  offset="0.3219" style="stop-color:#01024E"/>
		<stop  offset="0.5804" style="stop-color:#060958"/>
		<stop  offset="0.8161" style="stop-color:#0D1569"/>
		<stop  offset="1" style="stop-color:#15237C"/>
	</linearGradient>
	<circle fill="url(#SVGID_4_)" cx="739.07" cy="287.29" r="44.03"/>
</g>
<g id="Layer_8">
</g>
<g id="Layer_7">
</g>
<g id="Layer_6">
</g>
<g id="Layer_5">
</g>
<g id="Layer_4">
</g>
<g id="Layer_3">
	<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="1529.677" y1="313.163" x2="1637.723" y2="205.117">
		<stop  offset="0" style="stop-color:#79342A"/>
		<stop  offset="0.222" style="stop-color:#7C372C"/>
		<stop  offset="0.4003" style="stop-color:#864032"/>
		<stop  offset="0.5634" style="stop-color:#97503D"/>
		<stop  offset="0.7174" style="stop-color:#AF664C"/>
		<stop  offset="0.8637" style="stop-color:#CD835F"/>
		<stop  offset="1" style="stop-color:#F1A476"/>
	</linearGradient>
	<circle fill="url(#SVGID_5_)" cx="1583.7" cy="259.14" r="76.4"/>
</g>
<g id="Layer_2">
	<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="1021.6232" y1="235.5657" x2="1136.3434" y2="120.8456">
		<stop  offset="0" style="stop-color:#00004B"/>
		<stop  offset="0.3219" style="stop-color:#01024E"/>
		<stop  offset="0.5804" style="stop-color:#060958"/>
		<stop  offset="0.8161" style="stop-color:#0D1569"/>
		<stop  offset="1" style="stop-color:#15237C"/>
	</linearGradient>
	<circle fill="url(#SVGID_6_)" cx="1078.98" cy="178.21" r="81.12"/>
</g>
</svg>