{{ partial "header" . }}
{{ partial "favicon" . }}

<main>
       
    <div class="bodymovin homebgr" data-icon="animations/home-bgr.json"></div>


    <div class="intro">
    	<h1>Need some crunchy visual?</h1>
    	<h2>Maybe we can help</h2>

    	<a class="calltoaction2" role="button" href="/about-us/">about us</a>
    	<a class="calltoaction1" role="button" href="/works/">our works</a>

    <div class="introvideo">
	
<!--	<video playsinline="playsinline" autoplay="autoplay" muted="muted" id="bgvideo">
    	<source src="/videos/anomalia_intro_v2.mp4" type="video/mp4">
  	</video>
-->

  	</div>
    </div>

</main>

</body>
</html>